@import "src/assets/styles/variables";

.button {
  display: flex;
  width: 130px;
  height: 50px;
  justify-content: center;
  vertical-align: center;
  border-radius: 15px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  cursor: pointer;
}
.neutral {
  background-color: $light-grey;
}
.positive {
  background-color: $green;
}
.negative {
  background-color: $light-red;
}